.TrForm {
  .container {
    max-width: 700px;
    margin: 0px auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .row {
    padding: 20px;
  }

  .listItem {
    max-width: 715px;
    margin: 5px auto 5px auto;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
  }

  .primarybutton {
    background-color: "[theme:themePrimary, default:#0078d7]";
    color: "[theme:white, default:white]"
  }
  .secondarybuttonrwg {
    background-color: "[theme:themeDark, default:#0078d7]";
    color: "[theme:white, default:white]"
  }
  .documentTitle {
    overflow-wrap: break-word;
    display: inline-block;
    width:300px;
    white-space:normal; 
  }
  .dropzone{
 
    width: 100%;
    
    border-width: 2px;
    border-color: rgb(102, 102, 102);
    border-style: dashed;
    border-radius: 5px;
    background-color: rgba(173, 230, 225, 0.116)
  }
}